# Learning Objectives

- [ ]  2.2.1 Understand the different types: integer `int`, real `float`, char `chr`, string `str` and Boolean `Boolean` and initialise arrays `list`, `tuple` (1-dimensional and 2-dimensional). 

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/njc-cz2-2021/Materials/blob/main/365-Days-of-H2-Computing/Day_018.ipynb)

# D18 Set

A set is an **unordered** collection of **unique** values. In Python, `set` is the data type for Sets.

* Every element in set is unique (no duplicates) and must be **immutable** (which cannot be changed).
* `set` itself is mutable. We can add or remove items from it.
* `set` is often used to eliminate repeated numbers in a sequence/list.

## D18.1 How to create a set?

A set is created by either of following methods:
* Placing all the items (elements) inside curly braces `{}`, separated by comma `,`
* Using the built-in constructor function `set()`, which takes in a collection (list or tuple)

**Note:** 
* Set can contain mixed data type.
* All duplicate value will be discarded.

#### Example

In [ ]:
s = [1,2,3,4]*3
print(s)
set3 = set(s)
print(set3)

**Question**
* Why we can't use `{}` to create an empty set?

#### Example

In [ ]:
s = {}
print(type(s))
# empty set
set0 = set()
print(type(set0))

## D18.2 How to modify a set?

Set is mutable. Thus you can perform following actions on a set.
* Add a single item
* Updae/add multiple items
* remove items

### D18.2.1 Add a Single Item with `add()`

`add()` function is used to add a single item to the list.

If the item is already exists in the set, it will be ignored.

#### Example

In [ ]:
set1 = {1,2,3,4}
set1.add(5)
set1.add(5)
print(set1)

### D18.2.2 Add Multiple Items with `update()`

`update()` function is used to add multiple items to a set. It can take in one or more collections, e.g. list, tuple or another set.

* If the item already exists, it will be discarded.
* If the item does not exist, it will be added.

#### Example

In [ ]:
set1 = {1,2,3,4}
print(set1)
set1.update([2,3,4,5])
print(set1)
set1.update([(5,6)], {7,8}, (9,10))
print(set1)

### D18.2.3 Remove Item by Value

An item can be removed from set using `discard()` and `remove()` methods.
* `discard()` method does not throw exception if the item is not found in the set.
* `remove()` method will raise an `Exception` in such condition.

In [ ]:
set1 = {1,2,3,4}

set1.discard(4)
set1.discard(44)
print(set1)

set1.remove(33)
print(set1)

### D18.2.4 Remove an Arbitrary Item

`pop()` function can be used to remove an **arbitrary** item from set. This is because set is unordered.
* The popped value may seem following a sequence. But that is due to the internal hashmap implementation. It is not reliable and depends on values.

In [ ]:
set1 = {1,2,3,4}
print(set1.pop())
print(set1.pop())
print(set1)

### D18.2.5  More Set Operations
Sets can be used to carry out mathematical set operations
* intersection
* union
* symmetric difference
* difference (subtracting)

<img src=".img/set-venn.png" alt="Set Venn Diagram" style="width: 500px;"/>

##### Example
Create 2 sets using `set()` constructor.

In [1]:
set1 = set(range(0,8))
set2 = set(range(5,13))
print(set1)
print(set2)

{0, 1, 2, 3, 4, 5, 6, 7}
{5, 6, 7, 8, 9, 10, 11, 12}

### D18.2.6 Intersection

`intersection()` function outputs a set which contains all the elements that are in both sets.
* Operator `&` can be used for Intersection operation.

In [ ]:
print(set1.intersection(set2))
print(set1 & set2)

### D18.2.7 Union

`union()` function returns a set which contains all the elements of both the sets without repition.
* Operator `|` can be used for Union operation.

In [ ]:
print(set1.union(set2))
print(set1 | set2)

### D18.2.8 Difference (Subtracting)

`difference()` function ouptuts a set which contains elements that are in set1 and not in set2.
* Operator `-` can be use for Subtracting operation.

In [ ]:
print(set1.difference(set2))
print(set1 - set2)

### D18.2.9 Symetric Difference

`symmetric_difference()` function ouputs a function which contains elements that are in one of the sets.

In [ ]:
s7 = set1.symmetric_difference(set2)
print(s7)

### D18.2.10 Subset, Superset

`issubset()`, `issuperset()` is used to check if the set1/set2 is a subset, superset of set2/set1 respectively.

In [ ]:
set3 = set(range(0,15))
set4 = set(range(5,10))
print(set3)
print(set4)

r1 = set3.issubset(set4)
r2 = set3.issuperset(set4)
print(r1, r2)

In [ ]:
set3 = set(range(0,15))
set4 = set(range(5,10))

r1 = set4.issubset(set3)
r2 = set3.issuperset(set4)
print(r1, r2)

### D18.2.11 Disjoint

`isdisjoint()` is used to check if the set1/set2 is disjoint.

In [ ]:
r3 = set3.isdisjoint(set4)
print(r3)

set5 = set(range(5))
set6 = set(range(6,10))
r4 = set5.isdisjoint(set6)
print(r4)