# Learning Objectives

- [ ]  2.2.3 Apply the fundamental programming constructs to control the flow of program execution:
     * Sequence
     * Selection
     * Iteration 

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/njc-cz2-2021/Materials/blob/main/365-Days-of-H2-Computing/Day_007.ipynb)

# References

1. https://realpython.com/python-while-loop/#the-python-break-and-continue-statements

#### Exercise D7.1

In mathematics, an **arithmetic sequence** is a sequence of real numbers 
$$u_1,u_2,\cdots, u_n$$
such that the difference between two consecutive terms is constant, i.e. $u_{n+1}-u_n=d$ for some constant $d\in \mathbb{R}$, called the **common difference** and $n\geq 1$.

For example, the sequence $2,5,8,11,14,\dots$ is an arithmetic sequence with first term $2$ and common difference $3$.

Write a program to generate the first $n$ terms of an arithmetic sequence with a user defined first term $a$ and common difference $d$.

The problem: 
- Request a numeric input from the user to be used as the first term.  Let us denote this input as `first_term`.
- Request a numeric input from the user to be used as the common difference.  Let us denote this input as `common_difference`.
- Request an integer input from the user for the number of terms.  Let us denote this input as `number_of_terms`.
- Print out the sequence up to the $n$th term.

Example interaction: 

>```text
>Please input the first term in the arithmetic sequence:
>2
>Please input the common difference:
>3
>Please input the number of terms:
>5
>The first 5 terms of the arithmetic sequence are:
>2
>5
>8
>11
>14
>```

In [ ]:
# YOUR ANSWER HERE

#### Exercise D7.2

Given an arithmetic sequence with first term $a$ and common difference $d$.

Write a program that:
- Request a numeric input from the user to be used as the first term.  Let us denote this input as `first_term`.
- Request a numeric input from the user to be used as the common difference.  Let us denote this input as `common_difference`.
- Request an integer input from the user for the index for the term in the sequence.  Let us denote this input as `n`.
- Print out the $n$ th term in the sequence.
- Print out the sum of the first $n$ terms in the sequence.

Example interaction: 

>```text
>Please input the first term in the arithmetic sequence:
>2
>Please input the common difference:
>3
>Please input the index :
>5
>The 5th term in the sequence is:
>14
>The sum of the first 5 terms in the sequence is:
>40
>```

In [ ]:
# YOUR ANSWER HERE

#### Exercise D7.3

An arithmetic sequence $u_1, u_2, u_3, \cdots$ is defined by $u_r=3r-1$ for $r\in \mathbb{Z}^{+}$. Find the least value of $n$ such that $u_3+u_6+u_9+\cdots+u_n$ exceeds $1700$, where $n$ is a multiple of 3.

In [ ]:
# YOUR ANSWER HERE

#### Exercise D7.4

On 1 January 2001 Mrs $A$ put \$100 into a bank account, and on the first day of each subsequent month she put in \$10 more than in the previous month. Thus on 1 February she put \$110 into the account and on 1 March she put \$120 into the account, and so on. The account pays no interest.

On what date did the value of Mrs $A$'s account first become greater than $5000?

In [ ]:
# YOUR ANSWER HERE